<footer>


  <!-- Google -->
  <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
    ><i class="fab fa-google"></i
  ></a>

  <!-- Instagram -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/simple_ladka09/?next=%2F" role="button"
    ><i class="fab fa-instagram"></i
  ></a>

  <!-- Linkedin -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/shudhanshu-sharma-10b488281/" role="button"
    ><i class="fab fa-linkedin-in"></i
  ></a>

  <!-- Github -->
  <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/sudhanshu6055" role="button"
    ><i class="fab fa-github"></i
  ></a>
    <br>
    <br>
    <span>Created By Techkeblog</a> | <span class="far fa-copyright"></span> 2023 All rights reserved.</span>
</footer>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script src="javascripts/index.js">
</script>
<script>
  var typed = new Typed('#element', {
    strings: ['Full Stack Developer','Web Designer','Blogger'],
    typeSpeed: 150,
  });
</script>
<script>
  var preloader = document.getElementById("loading");
  function MyFuction(){
    preloader.style.display = "none";
  }
</script>
