<nav>
  <div class="navbar">
    <i class='bx bx-menu'></i>
    <div class="logo"><a href="#">Techkeblog</a></div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">Techkeblog</span>
        <i class='bx bx-x' ></i>
      </div>
      <ul class="links">
        <li><a href="/">HOME</a></li>
        <li>
          <a href="#">BCA NOTES</a>
          <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="/1sem">1 SEMESTER</a></li>
            <li><a href="/2sem">2 SEMESTER</a></li>
            <li><a href="/3sem">3 SEMESTER</a></li>
            <li><a href="/4sem">4 SEMESTER</a></li>
            <li><a href="/5sem">5 SEMESTER</a></li>
            <li><a href="/6sem">6 SEMESTER</a></li>
          </ul>
        </li>
        <li>
          <a href="#">BLOG</a>
          <i class='bx bxs-chevron-down js-arrow arrow '></i>
          <ul class="js-sub-menu sub-menu">
            <li><a href="/hindiblog">HINDI BLOG</a></li>
            <li><a href="/englishblog">ENGLISH BLOG</a></li>
          </ul>
        </li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/quespap">QUESTION PAPERS
        </a></li>
        <li><a href="/syllabus">SYLLABUS</a></li>
      </ul>
    </div>
    <div class="search-box">
      <i class='bx bx-search'></i>
      <div class="input-box">
        <input type="text" placeholder="Search...">
      </div>
    </div>
  </div>
</nav>