
<h1>Responsive Card</h1>
<div class="wrapper">
<div class="card">
	<!------------------------------------------BCA 1 SEMESTER PAPERS----------->

	<h1 class="card-title">BCA 1 SEMESTER PAPERS</h1>
	<br>
		<p class="card-content">BCA-1-SEM-COMPUTER-ORGANIZATION-23-156-C-2023</p>
		<form action="bca-1-sem-computer-organization-23-156-c-2023.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		<p class="card-content">BCA-1-SEM-FUNDAMENTAL-OF-INFORMATION-TECHNOLOGY-23-158-C-2023</p>
		<form action="bca-1-sem-fundamental-of-information-technology-23-158-c-2023.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		<p class="card-content">BCA-1-SEM-PC-SOFTWARE-23-155-C-2023</p>
		<form action="bca-1-sem-pc-software-23-155-c-2023.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-PROGRAMMING-PRINCIPLES-AND-C-LANGUAGE-23-157-C-2023</p>
		<form action="bca-1-sem-programming-principles-and-c-language-23-157-c-2023.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-COMPUTER-ORGANIZATION-22-102-C-2022</p>
		<form action="bca-1-sem-computer-organization-22-102-c-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-PC-SOFTWARE-22-101-C-2022</p>
		<form action="bca-1-sem-pc-software-22-101-c-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-PROGRAMMING-PRINCIPLES-AND-C-LANGUAGE-22-103-C-2022</p>
		<form action="bca-1-sem-programming-principles-and-c-language-22-103-c-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-FUNDAMENTAL-OF-INFORMATION-TECHNOLOGY-21-226-C-2021</p>
		<form action="bca-1-sem-fundamental-of-information-technology-21-226-c-2021.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-COMPUTER-ORGANISATION-21-224-C-2021</p>
		<form action="bca-1-sem-computer-organisation-21-224-c-2021.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-PC-SOFTWARE-21-223-C-2021</p>
		<form action="bca-1-sem-pc-software-21-223-c-2021.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-PROGRAMMING-PRINCIPLES-AND-C-LANGUAGE-21-225-C-2021</p>
		<form action="bca-1-sem-programming-principles-and-c-language-21-225-c-2021.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-1-SEM-COMPUTER-ORGANISATION-188-C-2019</p>
		  <form action="bca-1-sem-computer-organisation-188-c-2019.pdf">
			  <button type="submit" class="btn">Download</button>
			</form>
			<p class="card-content">BCA-1-SEM-FUNDAMENTAL-OF-IT-190-C-2019</p>
			<form action="bca-1-sem-fundamental-of-it-190-c-2019.pdf">
				<button type="submit" class="btn">Download</button>
			  </form>
			  <p class="card-content">BCA-1-SEM-PC-SOFTWARE-187-C-2019</p>
			  <form action="bca-1-sem-pc-software-187-c-2019.pdf">
				  <button type="submit" class="btn">Download</button>
				</form>
				<p class="card-content">BCA-1-SEM-PROGRAMMING-PRINCIPLES-AND-C-LANGUAGE-189-C-2019</p>
				<form action="bca-1-sem-programming-principles-and-c-language-189-c-2019.pdf">
					<button type="submit" class="btn">Download</button>
				  </form>
	</div>

	<!-- BCA 2 SEMESTER PAPERS -->

	<div class="card">
		<h1 class="card-title">BCA 2 SEMESTER PAPERS</h1>
		<br>
		<p class="card-content">BCA-2-SEM-CA-DISCRETE-MATHEMATICS-BCA204-2022</p>
		<form action="bca-2-sem-ca-discrete-mathematics-bca204-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-2-SEM-CA-OBJECT-MODELING-AND-CPP-PROGRAMMING-BCA220201-2022</p>
		<form action="bca-2-sem-ca-object-modeling-and-cpp-programming-bca220201-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-2-SEM-CA-SYSTEM-ANALYSIS-AND-DESIGN-BCA220202-2022</p>
		  <form action="bca-2-sem-ca-system-analysis-and-design-bca220202-2022.pdf">
			  <button type="submit" class="btn">Download</button>
			</form>
			<p class="card-content">BCA-2-SEM-OBJECT-MODELING-AND-CPP-PROGRAMMING-22-130-C-2022</p>
		<form action="bca-2-sem-object-modeling-and-cpp-programming-22-130-c-2022.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-2-SEM-DISCRETE-MATHEMATICS-22-133-C-2022</p>
		  <form action="bca-2-sem-discrete-mathematics-22-133-c-2022.pdf">
			  <button type="submit" class="btn">Download</button>
			</form>
			<p class="card-content">BCA-2-SEM-DATA-AND-FILE-STRUCTURE-USING-C-103-C-2018</p>
			<form action="bca-2-sem-data-and-file-structure-using-c-103-c-2018.pdf">
				<button type="submit" class="btn">Download</button>
			  </form>
			  <p class="card-content">BCA-2-SEM-DISCRETE-MATHEMATICS-104-C-2018</p>
			  <form action="bca-2-sem-discrete-mathematics-104-c-2018.pdf">
				  <button type="submit" class="btn">Download</button>
				</form>
				<p class="card-content">BCA-2-SEM-OBJECT-MODELING-AND-CPP-PROGRAMMING-101-C-2018</p>
				<form action="bca-2-sem-object-modeling-and-cpp-programming-101-c-2018.pdf">
					<button type="submit" class="btn">Download</button>
				  </form>
				  <p class="card-content">BCA-2-SEM-SYSTEM-ANALYSIS-AND-DESIGN-102-C-2018</p>
				  <form action="bca-2-sem-system-analysis-and-design-102-c-2018.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
	</div>

	<!-- BCA 3 SEMESTER PAPERS -->
	<div class="card">
		<h1 class="card-title">BCA 3 SEMESTER PAPERS</h1>
			<br>
		<p class="card-content">
			BCA-3-SEM-COMPUTER-BASED-NUMERICAL-AND-STATISTICAL-TECHNIQUES-23-159-C-2023</p>
		<form action="bca-3-sem-computer-based-numerical-and-statistical-techniques-23-159-c-2023.pdf">
			<button type="submit" class="btn">Download</button>
		  </form>
		  <p class="card-content">BCA-3-SEM-SOFTWARE-ENGINEERING-23-160-C-2023</p>
				  <form action="bca-3-sem-software-engineering-23-160-c-2023.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
					<p class="card-content">BCA-3-SEM-ELEMENTS-OF-STATISTICS-1090-2021</p>
				  <form action="bca-3-sem-elements-of-statistics-1090-2021.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
					<p class="card-content">BCA-3-SEM-JAVA-PROGRAMMING-194-C-2019</p>
				  <form action="bca-3-sem-java-programming-194-c-2019.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
					<p class="card-content">BBCA-3-SEM-COMPUTER-BASED-NUMERICAL-AND-STATISTICAL-TECHNIQUES-129-C-2018</p>
				  <form action="bca-3-sem-computer-based-numerical-and-statistical-techniques-129-c-2018.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
					<p class="card-content">BCA-3-SEM-PRINCIPLES-OF-OPERATING-SYSTEM-131-C-2018</p>
				  <form action="bca-3-sem-principles-of-operating-system-131-c-2018.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
					<p class="card-content">BCA-3-SEM-SOFTWARE-ENGINEERING-130-C-2018</p>
				  <form action="bca-3-sem-software-engineering-130-c-2018.pdf">
					  <button type="submit" class="btn">Download</button>
					</form>
	</div>
</div>

<!-- BCA 4 SEMESTER PAPERS -->
<div class="card">
	<h1 class="card-title">BCA 4 SEMESTER PAPERS</h1>
	<br>
	<p class="card-content">BCA-4-SEM-OPTIMIZATION-TECHNIQUES-22-136-C-2022</p>
	<form action="bca-4-sem-optimization-techniques-22-136-c-2022.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-4-SEM-DESIGN-AND-ANALYSIS-OF-ALGORITHM-105-C-2018</p>
	<form action="bca-4-sem-design-and-analysis-of-algorithm-105-c-2018.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-4-SEM-COMPUTER-GRAPHIC-AND-ANIMATION-28-C-2017</p>
	<form action="bca-4-sem-computer-graphic-and-animation-28-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-4-SEM-DATA-BASE-MANAGEMENT-SYSTEM-26-C-2017</p>
	<form action="bca-4-sem-data-base-management-system-26-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-4-SEM-DESIGN-AND-ANALYSIS-OF-ALGORITHM-25-C-2017</p>
	<form action="bca-4-sem-design-and-analysis-of-algorithm-25-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-4-SEM-OPTIMISATION-TECHNIQUES-27-C-2017</p>
	<form action="bca-4-sem-optimisation-techniques-27-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  
</div>
</div>

<!-- BCA 5 SEMESTER PAPERS -->
<div class="card">
	<h1 class="card-title">BCA 5 SEMESTER PAPERS</h1>
	<br>
	<p class="card-content">BCA-5-SEM-WEB-DESIGN-195-C-2019</p>
	<form action="bca-5-sem-web-design-195-c-2019.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">
		BCA-5-SEM-DATA-MINING-78-C-2017</p>
	<form action="bca-5-sem-data-mining-78-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">BCA-5-SEM-WEB-DESIGN-195-C-2019</p>
	<form action="bca-5-sem-web-design-195-c-2019.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
	  <p class="card-content">
		BCA-5-SEM-DOT-NET-FRAME-WORK-AND-C-HAS-79-C-2017</p>
	<form action="bca-5-sem-dot-net-frame-work-and-c-has-79-c-2017.pdf">
		<button type="submit" class="btn">Download</button>
	  </form>
</div>
</div>
 