


<div class="cardi">
    <h2>Select Semester</h2>
    <div class="buttoni-container">
      <a href="/q1sem"><button>SEMESTER 1</button></a>
      <a href="/q2sem"><button>SEMESTER 2</button></a>
      <a href="/q3sem"><button>SEMESTER 3</button></a>
      <a href="/q4sem"><button>SEMESTER 4</button></a>
      <a href="/q5sem"><button>SEMESTER 5</button></a>
      <a href="/q6sem"><button>SEMESTER 6</button></a>
    </div>
  </div>
