<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center"> 1 Sem Notes</h1>
	<h3 class="center"> 1 Sem Notes </h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/pc.jpg" alt="" />
				<h2 class="card-title center">PC SOFTWERE NOTES</h2>
				<p class="card-text">Hey, this is a <b>pc softwere</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					
					<form action="/pc-software-1sem.pdf">
						<button type="submit" class="btnn">Download</button>
						
					  </form>
					</div>
				</div>
			</div>
			<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/c.jpg" alt="" />
				<h2 class="card-title center">C LANGUAGE NOTES</h2>
				<p class="card-text">Hey, this is a <b>C language</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="/c-language-1sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/co.jpg" alt="" />
				<h2 class="card-title center">COMPUTER ORGNIZATION NOTES</h2>
				<p class="card-text">Hey, this is a <b>Computer orgnization</b> language notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="COMPUTER-ORGANIZATION-1sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/it.jpg" alt="" />
				<h2 class="card-title center">FUNDAMENTAL OF IT NOTES</h2>
				<p class="card-text">Hey, this is a <b>Fundamental of it</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="it-1sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>