<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center">3 Sem Notes</h1>
	<h3 class="center"> 3 Sem Notes </h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/JAVA PROGRAMMING.png" alt="" />
				<h2 class="card-title center">JAVA PROGRAMMING</h2>
				<p class="card-text">Hey, this is a <b>Java programming</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Java-Programming-3sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/SOFTWERE ENGINEERING.png" alt="" />
				<h2 class="card-title center">SOFTWERE ENGINEERING</h2>
				<p class="card-text">Hey, this is a <b>Softwere engineering</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Software-Engineering-3sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/OPERATING SYSTME.png" alt="" />
				<h2 class="card-title center">OPERATING SYSTEM</h2>
				<p class="card-text">Hey, this is a <b>Operating System</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="O.S-3sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/CBNST.jpeg" alt="" />
				<h2 class="card-title center">CBNST</h2>
				<p class="card-text">Hey, this is a <b>cbnst</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="cbnst_compressed.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>