<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center">4 Sem Notes </h1>
	<h3 class="center"> 4 Sem Notes </h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/D.A.OF.ALGORITHM.jpg" alt="" />
				<h2 class="card-title center">DESIGN ANALYSIS ALGORITHM</h2>
				<p class="card-text">Hey, this is a <b>Design & Analysis of Algorithm</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Design-&-Analysis-of-Algorithm-4sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/DBMS.jpg" alt="" />
				<h2 class="card-title center">DBMS</h2>
				<p class="card-text">Hey, this is a <b>Data base mangement system</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="DBMS-4sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/OT.jpg" alt="" />
				<h2 class="card-title center">OPTIMIZATION TECHNIQUES</h2>
				<p class="card-text">Hey, this is a <b>Optimization techniques</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Optimization-Techniques-4sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/CGA.jpg" alt="" />
				<h2 class="card-title center">CGA</h2>
				<p class="card-text">Hey, this is a <b>Computer graphics and animation</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Computer-Graphics-&-Animation-4sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/D.A.OF.ALGORITHM.jpg" alt="" />
				<h2 class="card-title center">DESIGN ANALYSIS ALGORITHM HANDWRITEN QUESTION NOTES</h2>
				<p class="card-text">Hey, this is a <b>Design & Analysis of Algorithm</b> handwriten questions notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="DAA-HANDWRITEN.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/OT.jpg" alt="" />
				<h2 class="card-title center">OPTIMIZATION TECHNIQUES HANDWRITEN QUESTION NOTES </h2>
				<p class="card-text">Hey, this is a <b>Optimization techniques</b> handwriten questions  notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="OT-HANDWRITEN.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>