<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center">5 Sem Notes </h1>
	<h3 class="center"> 5 Sem Notes </h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/WEB DESIGN.png" alt="" />
				<h2 class="card-title center">WEB DESIGN</h2>
				<p class="card-text">Hey, this is a <b>Web design</b> notes according to vbspu syllabus, you can download the notes click download button..</p>
				<div class="card-footer center">
					<form action="Web-Design-5sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/DATA MINING.png" alt="" />
				<h2 class="card-title center">DATA MINING</h2>
				<p class="card-text">Hey, this is a <b>Data mining</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Data-Mining-5sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/net frem.png" alt="" />
				<h2 class="card-title center">C# .NET-FRAMEWORK</h2>
				<p class="card-text">Hey, this is a <b>C# .net-framework </b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Net-Framework-5sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>