<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center">6 Sem Notes </h1>
	<h3 class="center"> 6 Sem Notes </h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/E-COMMERCE.png" alt="" />
				<h2 class="card-title center">E-COMMERCE</h2>
				<p class="card-text">Hey, this is a <b>E-commerce</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="E-Commerce-6sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/MULTI MEDIA.png" alt="" />
				<h2 class="card-title center">MULTI MEDIA</h2>
				<p class="card-text">Hey, this is a <b>Multi media</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="Multimedia-System-6sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/DATA COMMUNICATION.png" alt="" />
				<h2 class="card-title center">DATA COMMUNICATION</h2>
				<p class="card-text">Hey, this is a <b>Data communication</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>