<!-- header code -->
<%- include('./partials/header');%>
<!-- navbar code -->
<%- include('./partials/navbar');%>
<!-- main code -->
<div class="responsive-buttons">
    <h3 class="heading">Responsive Buttons</h3>
    <div class="button-section">
      <div class="carda">
        <div class="text">Select Year <br>BCA</div>
        <a href="/selectsem" class="btna btn-large-screen"></i>2018</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2022</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2023</a>
      </div>
      <div class="carda">
        <div class="text"> Select Year <br>BCA</div>
        <a href="/selectsem" class="btna btn-large-screen"></i>2021</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2022</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2023</a>
    
      </div>
      <div class="carda">
        <div class="text"> Select Year <br>BCA</div>
        <a href="/selectsem" class="btna btn-large-screen"></i>2021</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2022</a>
        <a href="/selectsem" class="btna btn-large-screen"></i>2023</a>
       
      </div>
    </div>
  </div>


<!-- footer code -->
<%- include('./partials/footer');%>