<%- include('./partials/header');%>
<!-- navbar -->
<%- include('./partials/navbar');%>
<h1 class="center">SYLLABUS </h1>
	<h3 class="center">SYLLABUS</h3>
	<div class="cards">
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/BCA-Course-Eligibilities.jpeg" alt="" />
				<h2 class="card-title center">BCA</h2>
				<p class="card-text">Hey, this is a <b>BCA</b> syllabus according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="bca-syllbus.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/B.Com-Img-1280x720-1-1024x576.jpg" alt="" />
				<h2 class="card-title center">B.COM</h2>
				<p class="card-text">Hey, this is a <b>B.COM</b> notes according to vbspu syllabus, you can download the notes click download button.</p>
				<div class="card-footer center">
					<form action="BCom-syllbus.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		<div class="card-item">
			<div class="card-body">
				<img class="card-img" src="images/ba.jpg" alt="" />
				<h2 class="card-title center">Title</h2>
				<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, eveniet.</p>
				<div class="card-footer center">
					<form action="Net-Framework-5sem.pdf">
						<button type="submit" class="btnn">Download</button>
					  </form>
				</div>
			</div>
		</div>
		</div>
			</div>
		</div>
	</div>
 <!-- nextprbtn -->
 <%- include('./partials/nextprbtn');%>

<!-- footer -->
<%- include('./partials/footer');%>